* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .target {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #141618;
  font-weight: 500;
}
.App h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #141618;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.App form {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.App form .colorInput {
  width: 100%;
  height: 2rem;
  outline: none;
  padding: 0 0.5rem;
  letter-spacing: 0.15rem;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #141618;
  border: 2px solid lightgray;
  border-radius: 0.25rem;
}
.App form .colorInput--valid {
  border-color: limegreen;
}
.App form .colorInput--invalid {
  border-color: crimson;
}
.App form .error {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #141618;
  margin: 0.25rem 0.25rem;
  visibility: hidden;
  color: crimson;
}
.App form .error--show {
  visibility: visible;
}
.App .pagination {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #141618;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.App .pagination .page, .App .pagination .previous, .App .pagination .next {
  margin: 0 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App .pagination .page:focus, .App .pagination .previous:focus, .App .pagination .next:focus {
  outline: none;
}
.App .pagination .page__link, .App .pagination .previous__link, .App .pagination .next__link {
  border-radius: 0.2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}
.App .pagination .page__link:hover, .App .pagination .previous__link:hover, .App .pagination .next__link:hover {
  cursor: pointer;
  background: lightgray;
}
.App .pagination .page__link:focus, .App .pagination .previous__link:focus, .App .pagination .next__link:focus {
  outline: none;
}
.App .pagination .page--active, .App .pagination .previous--active, .App .pagination .next--active {
  background: #e3f2fd;
}
.App .pagination .page--active:hover, .App .pagination .previous--active:hover, .App .pagination .next--active:hover {
  background: #e3f2fd;
}
.App table {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  margin-top: 1.5rem;
}
.App table .display {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 1rem;
}
.App table .dot {
  visibility: hidden;
}
.App table .name {
  min-width: 11rem;
}
.App table .index {
  color: #63768d;
}
.App table th {
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #141618;
  padding: 0 0.75rem 0.25rem;
}
.App table td {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #141618;
  padding: 0.25rem 0.75rem;
}

/*# sourceMappingURL=App.css.map */
